.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/AppDirective.vue
/src/AppMixins.vue
/src/colorDirective.js
/src/focusDirective.js
/src/notificationMixin.js
/src/components